body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header.startup {
  background-position: center;
  background-image: url("background.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join {
  color: white;
  font-size: 5em;
}

hr {
  padding: 10em;
}

.btn-outline-info {
  border-color: white;
  color: white;
  font-weight: white;
  font-size: 2em;
}

.btn-outline-info:hover {
  border-color: white;
  color: white;
  font-weight: white;
  font-size: 2em;
  background-color: black;
}